.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}
.title {
  position: absolute;
  top: 70%;
  left: 50%;
  color: white;
  font-size: 40px;
}
.sub-title {
  position: absolute;
  top: 82%;
  left: 52%;
  color: white;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 300px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 300px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.title-container {
  justify-content: center;
  align-items: center;
}
